  .fullscreen-center {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
    position: relative;
  }

  @media (min-width: 1024px), /* Desktop */
  (orientation: landscape) /* Landscape devices */ {
    .fullscreen-center {
      transform: rotate(-90deg);
      transform-origin: center;
    }
  }

  #pc.display {

    background: radial-gradient(circle, rgb(245, 139, 125), rgb(88, 161, 233));
    background-blend-mode: multiply;
    color: white;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: -1;

  }

  body{
    /*background-blend-mode: multiply;
    background: radial-gradient(circle, rgb(152, 207, 183), rgb(145, 149, 197));
        background-image: linear-gradient(66deg, rgb(152, 207, 183) 0%, rgb(145, 149, 197) 100%);
*/
    background-color: rgb(245, 158, 187);
    background-image: linear-gradient(66deg, rgb(245, 158, 187) 0%, rgb(88, 161, 233) 100%);
  }


  @font-face {
    font-family: 'Fredoka';
    src: url('../public/fonts/Fredoka-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fredoka';
    src: url('../public/fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fredoka';
    src: url('../public/fonts/Fredoka-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fredoka';
    src: url('../public/fonts/Fredoka-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fredoka';
    src: url('../public/fonts/Fredoka-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


  .Futura-regular{
    font-family: 'Futura PT', sans-serif;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
  }

  .fredoka-light {
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .fredoka-regular {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
  }

  .fredoka-medium {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .fredoka-semibold {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .fredoka-bold {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    font-style: normal;
  }


  #beggin::before{
    z-index: -1000 !important;
  }

  .bgbg{


  }

  .front{
    z-index: 1000;
  }




  /* Adding grain using pseudo-elements */
  #pc.display::after {
    content: '';
    position: absolute;
    top: -20px;
    left: -10px;
    width: 100%;
    height: 100%;
    background:
            linear-gradient(to right, rgba(0, 0, 0, 0.02) 1px, transparent 1px) 0 0/4px 4px,
            linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 1px, transparent 1px) 0 0/4px 4px;

  }


  .zoomed-div {
    transform: scale(1.5); /* Adjust the scale value as needed */
    transform-origin: center; /* Center the zoom */
    width: 100vw; /* Ensure the div takes full viewport width */
    height: 100vh; /* Ensure the div takes full viewport height */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }


  .test{
    color: white;
    z-index: 1000;
  }


  .modal {
    display: flex; /* Use flexbox for centering */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .zindex{
    padding: 100px;
    z-index: 1000;
  }