.fullscreen-center {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scrolling */
  position: relative;
}

@media (min-width: 1024px), /* Desktop */
(orientation: landscape) /* Landscape devices */ {
  .fullscreen-center {
    transform: rotate(90deg);
    transform-origin: center;
  }
}

body{
  background-color: black;
  overflow: hidden;
}

.zoomed-div {
  transform: scale(1.5); /* Adjust the scale value as needed */
  transform-origin: center; /* Center the zoom */
  width: 100vw; /* Ensure the div takes full viewport width */
  height: 100vh; /* Ensure the div takes full viewport height */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */  
}


