/* General styles for both screens */
.start-screen, .mobile-start-screen {
    height: 100vh;
    text-align: center;
    color: #222222;
    font-family: 'IBM Plex Mono', monospace; /* Update to use the new font */
    overflow: hidden;
}

.title {
    font-family: 'Futura PT Heavy Italic', sans-serif; /* Ensure this matches the actual font-family name */
    font-size: 3em;
    margin-bottom: 20px;
    color: #222222;
    font-style: italic; /* Make sure the font style is italic */
}

.start-button {
    padding: 20px 130px;
    font-size: 1.2em;
    background-color: rgb(211, 225, 239);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    margin-top: 20px; /* Add some margin to separate the button from the content */
    bottom: 50%;
}

.start-button:hover {
    background-color: #ececff;
}

/* Desktop-specific styles */
.content {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 350px); /* Adjust height as needed to accommodate the title and button */
    position: relative; /* Needed for the pseudo-element */
}

.Mcontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 250px); /* Adjust height as needed to accommodate the title and button */
    position: relative; /* Needed for the pseudo-element */
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    transform: translateX(-50%);
    border-left: 1px dashed #222222; /* Dashed line */
    opacity: 40%;
}

.column {
    text-align: center;
    width: 35%;
    font-weight: bold/* Adjust width if needed */
}

/* Mobile-specific styles */
.mobile-start-screen .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100dvw - 150px); /* Adjust height as needed to accommodate the title and button */

}

.mobile-column {
    text-align: center;
    height: 90%; /* Adjust width if needed */
    margin-bottom: 20px;
    width: 80vh;
}

.icon {
    width: 50px; /* Adjust as necessary */
    height: auto;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #222222;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #222222;
}

/* Rotation styles */
.rotate-screen {
    background-blend-mode: multiply;
    background-image: linear-gradient(66deg, rgb(245, 158, 187) 0%, rgb(88, 161, 233) 100%);
    width: 100vh;
    height: 100dvw;
    transform: rotate(90deg);
    transform-origin: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50vh; /* Centers the rotated content */
    margin-top: -50vw; /* Centers the rotated content */
}
